<div class="card shadow-effect">
  <img src="https://img.freepik.com/photos-premium/logo-youtube-lecteur-video-conception-3d-interface-lecteur-multimedia-video_41204-12379.jpg"
       alt="post-image" class="card-img-top"/>
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-danger text-center">Featured</small>
    <small class="bg-light text-danger text-center">Views - 100,256</small>

    <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni deserun</p>
    <small class="bg-light text-warning text-center"> LAST UPDATED - SEP 20, 2021</small>
  </div>
</div>
